apiVersion: apps/v1
kind: Deployment
metadata:
  name: vgate
spec:
  replicas: 2
  template:
    spec:
      containers:
        - name: vgate
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: "1"
              memory: 1Gi
          startupProbe:
            httpGet:
              path: /health
              port: http
            failureThreshold: 10
            periodSeconds: 3
