apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: vgate
spec:
  maxReplicas: 2
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 80
