apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: vgate

commonLabels:
  app.kubernetes.io/managed-by: kustomize

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - pvc.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  # Uncomment if Prometheus Operator CRDs are installed:
  # - servicemonitor.yaml
