apiVersion: v1
kind: Service
metadata:
  name: vgate
  labels:
    app.kubernetes.io/name: vgate
    app.kubernetes.io/component: gateway
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8000
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/name: vgate
